<div class="card flex justify-content-center">
        <p-card [style]="{'width':'1680px','min-height':'95vh' ,'background':'rgb(2, 2, 63)'}">
            <div class="flex justify-content-center gap-5">
                <img src="../../../assets/images/Coat_of_arms_of_Côte_d_Ivoire__1997-2001_variant_.svg-removebg-preview.png" [style]="{'width':'100px','height':'60px','position':'relative','bottom':'10px'}">
                <span [style]="{'color':'orange','font-size':'28px','font-weight':'bold'}">REPUBLIQUE DE COTE D'IVOIRE</span>
            </div>
            <div class="flex flex-row" [style]="{'width':'1600px','min-height':'85vh','border-radius':'15px','margin':'auto'}">

                <div class="col-5 flex flex-column justify-content-center " [style]="{'background':'rgb(5, 5, 92)'}">
                    <div class="flex flex-column  ">
                        <img src="../../../assets/images/evisa2-removebg-preview.png" [style]="{'width':'250px','position':'relative','bottom':'135px','right':'10px'}">
                        <img src="../../../assets/images/oQqSFan6_400x400-removebg-preview.png" [style]="{'width':'160px','height':'40px','position':'relative','bottom':'205px','left':'30px'}">
                        
                    </div>
                    
                    <div class="flex flex-row">
                    <img src="../../../assets/images/pris.png" [style]="{'width':'300px','height':'200px'}">
                    <span [style]="{'font-size':'38px','font-weight':'bold','color':'#fff'}" >Demandez un visa en Côte d'ivoire en seulement quelques clics</span>
                 </div>
                    <p-button label="Faire une demande" styleClass="p-button-raised p-button-warning" [style]="{width:'350px', 'height':'60px', 'margin-left':'230px','font-size':'22px','font-weight':'bold','color':'white'}"></p-button>
                    
                </div>
                <div class="col-1" [style]="{'background':'rgb(5, 5, 92)'}">
                    <img src="../../../assets/images/repris.png" [style]="{'width':'200px','height':'500px','position':'relative','right':'20px'}">
                </div>

                <div class="col-6" [style]="{'background':'rgb(5, 5, 92)'}">
                    <div class="flex flex-column justify-content-center">
                        <div class="flex flex-row justify-content-start gap-3" >
                            <a routerLink="/connexion" [style]="{'color':'#fff','font-weight':'bold', 'font-size':'18px'}">Se connecter</a>
                            <a routerLink="/enregistrement" [style]="{'color':'rgb(255, 201, 83)' ,'font-weight':'bold', 'font-size':'18px'}">Créer un compte</a>
                        </div>
                        <img src="../../../assets/images/Singapore-Personalised-Employment-Pass-min-removebg-preview.png" [style]="{'margin-top':'50px'}">
                    </div>
                   
                </div>
            </div>
        </p-card>
</div>
