<div class="card" class="flex flex-row justify-content-between ">
    <div class="logo flex flex-row">
        <img src="../../../assets/images/5c3d9db3aad8a-log-snedai-cote-ivoire (1).png" class=" relative w-3">
      <p class="">E-VISA</p>  
    </div>
    
    <div class=" flex  flex-row justify-content-between">
        <p-tabMenu [model]="items" [activeItem]="activeItem"  ></p-tabMenu>
       
    </div>

    <div>
        <p-button label="Connexion" styleClass="p-button-raised p-button-warning text-white font-bold "></p-button>
    </div>
    
</div>
